<div class="container-fluid bg-form py-5">
  <div class="row">
    <div class="col-6 text-center">
       <%= image_tag image_path('logo.jpg'), :class => 'logo-md' %>
       <div class="m-3 mb-5">
       Create a pack member <br>
        <br>
        <br>
        Give a walk and get a walk!
       </div>
    </div>

    <div class="col-6 form">
      <%= render 'form' %>
    </div>

  </div>
</div>
