<header class="bg-primary" id="first">
  <div class="header-content ">
    <div class="inner">
      <h1 class="cursive">Pack!</h1>
      <h4>Dog Walking Cooperative</h4>
      <hr>
        <div class="form-group">
          <%= form_tag(pre_dashboard_path, method: "get") do %>
            <%= text_field_tag(:postal_code_input, nil, placeholder: "Enter Your Zipcode", class: 'p-2 m-1') %>
            <%= submit_tag("Find", :class=>"btn btn-dark m-2 p-2")%>

          <% end %>
        </div>
    </div>
  </div>
</header>
<section class="bg-about" id="one">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 text-center box">
        <h2 class="margin-top-0 text-primary">About Us</h2>
        <br>
        <p class="text-dark">
          Are you tired of paying for dog walking? So are we! Let's walk each other's dogs for free! <br> We are a Dog Walking Cooperative. We unite dog owners so that dog walking can be free idk something else someone else write this please.
        </p>
        <a href="#two" class="btn btn-default btn-xl page-scroll">Learn More</a>
      </div>
    </div>
  </div>
</section>
<section class="bg-how" id="two">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="margin-top-0 text-primary">How it Works!</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 text-center">
        <div class="feature">
          <i class="icon-lg fas fa-paw wow fadeIn m-3" data-wow-delay=".3s"></i>
          <h3>Request A Walk</h3>
          <p class="text-dark">Some other stuff free free</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 text-center">
        <div class="feature">
          <i class="icon-lg fas fa-clock wow fadeInUp m-3" data-wow-delay=".2s"></i>
          <h3>Walk Dogs to get Free Walks</h3>
          <p class="text-dark">Accumulate Hours by participating in the cooperative</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 text-center">
        <div class="feature">
          <i class="icon-lg fas fa-smile wow fadeIn m-3" data-wow-delay=".3s"></i>
          <h3>Never Pay for A Walk Again!</h3>
          <p class="text-dark">Enjoy free walks as long as you COOP!</p>
        </div>
      </div>
    </div>
  </div>
</section>
