<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PACK</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-6 text-center mt-5">
          <!-- Need an instance variable here -->
          <h1 class="your-pack">Pack INST VAR [zipcode]</h2>
        </div>
        <div class="col-6">
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="box mt-5">
            <div class="col-12 stats-top text-center p-1">
              <h2>Total Walkers</h2>
            </div>
            <div class="col-12 stats-bottom text-center p-2">
              <!-- Need an instance variable here -->
              <%= @walkers %>

            </div>
            </div>
          </div>
          <div class="col-3">
            <div class="box mt-5">
              <div class="col-12 stats-top text-center p-1">
                <h2>Total Dogs</h2>
              </div>
              <div class="col-12 stats-bottom text-center p-2">
                <!-- Need an instance variable here -->
                <h2>INST VAR</h2>
              </div>
            </div>
          </div>
      </div>
      <div class="col-6">
      </div>
      <div class="row">
        <div class="col-3">
          <div class="box mt-5">
            <div class="col-12 stats-top text-center p-1">
              <h2>Total Walks</h2>
            </div>
            <div class="col-12 stats-bottom text-center p-2">
              <!-- Need an instance variable here -->
              <h2>INST VAR</h2>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="box mt-5">
            <div class="col-12 stats-top text-center p-1">
              <h2>Average Walk</h2>
            </div>
            <div class="col-12 stats-bottom text-center p-2">
              <!-- Need an instance variable here -->
              <h2>INST VAR</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
      </div>
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-2">
          <div class="box mt-5 dog-image">
            <!-- Need an instance variable here -->
            <img src="" alt="INST VAR [dog image]">
          </div>
        </div>
        <div class="col-2">
          <div class="box mt-5 dog-image">
            <!-- Need an instance variable here -->
            <img src="" alt="INST VAR [dog image]">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
