/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap/scss/bootstrap
 *= require w3-css/3/w3.css
 *= require animate
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Kalam|Montserrat|Open+Sans');
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$cursive: 'Kalam', cursive;


$yellowish: #F6FFB9;
$dark-blue: #253c78;
$orangish: #F6FFB9;



html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}


body {
  font-family: $primary-font;
  color: black;
  padding-top: 70px;
}

.container-fluid {
  min-height: 100%
}

hr {
  max-width: 80px;
  border-width: 3px;
  opacity: 0.09;
  margin-top: 15px;
  margin-bottom: 15px;
}

hr.light {
  border-color: #fff;
}

a {
  color: $dark-blue;
  transition: all .35s;
}

.text-blue {
  color: $dark-blue
}

a:hover, a:focus, input:focus {
  color: #9c27c1;
  outline: 0;
}
.dog-container{
  width:200px;
  height:200px;

}
.dog-image{
  max-width: 100%;
  max-height:100%;
  margin: auto  !important;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $secondary-font
}

.wide-space {
  letter-spacing: 1.6px;
}

.icon-lg {
  font-size: 50px;
}

.bg-primary {
  background: url('background-7.jpg') no-repeat center center fixed;
  background-size: cover;
}

.bg-about {
  background: url('background-2.jpg') no-repeat center center fixed;
  background-size: cover;
}

.bg-how {
  background: url('background-3.jpg') no-repeat center center fixed;
  background-size: cover;
}

.bg-form {
  background: url('background-6.jpg') no-repeat center center fixed;
  background-size: cover;
}

.bg-dark {
  color: #eee;
  background-color: #222;
}

.cursive {
  font-family: $cursive;
  font-size: 75px;
}

.text-faded {
  color: rgba(245, 245, 245, 0.7);
}


section {
  padding: 70px 0;
}

aside {
  padding: 50px 0;
}

footer {
  padding: 15px;
  background-color: $yellowish;
  bottom: 0px;
  position: static;
  width: 100%;
}

.no-padding {
  padding: 0;
}

.navbar-expand-lg {
  border-color: rgba(35, 35, 35, .05);
  font-family: $secondary-font;
  transition: all .4s;
}

.navbar-header>.navbar-brand {
  color: #8b27b0;
  padding: 15px;
  transition: padding .2s ease-in;
}

.navbar-header>.navbar-brand:hover, .navbar-header>.navbar-brand:focus {
  color: #8b27b0;
}

.navbar-expand-lg .navbar-toggle:focus, .navbar-expand-lg .navbar-toggle:hover {
  background-color: #181818;
}

.navbar-expand-lg .navbar-toggle, .navbar-expand-lg .navbar-collapse {
  border-color: transparent;
}

.navbar-expand-lg .nav>li>a, .navbar-expand-lg .nav>li>a:focus {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: white;
}

.navbar-expand-lg .nav>li>a:hover, .navbar-expand-lg .nav>li>a:focus:hover {
  color: #9c27b0;
}

.navbar-expand-lg .nav>li.active>a, .navbar-expand-lg .nav>li.active>a:focus {
  color: #9c27b0 !important;
}

.navbar-expand-lg .nav>li.active>a:hover, .navbar-expand-lg .nav>li.active>a:focus:hover {
  background-color: transparent;
}

// SIGN UP FORM

.form {
    text-align: center;
    position: relative;
}

.form fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 5%;

}

/*inputs*/
.form input, .form textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: $secondary-font;
    color: $dark-blue;
    font-size: 13px;
}

.form input:focus, .form textarea:focus {
    box-shadow: none !important;
    border: 1px solid $orangish;
    outline-width: 0;
    transition: All 0.5s ease-in;
}

/*buttons*/
.form .action-button {
    width: 100px;
    background: $dark-blue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

.form .action-button:hover, .form .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px $dark-blue;
}


/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
//toggle for log in and sign up
.hide {
  display: none
}
.active {
  font-size: 18px;
  color: $dark-blue !important
}

.login-box-link:hover {
  color: red
}

//confirmation text
.text-wrapper {
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
  color: black;
  font-size: 14px;
  text-align: left;
  font-weight: bolder
}
//SIGN UP FORM DONE

@media(min-width:768px) {
  .navbar-expand-lg {
    background-color: white;
  }
  .navbar-header>.navbar-brand {
    color: #253c78;
    font-weight: 700;
    padding: 19px;
  }
  .navbar-expand-lg .navbar-header .navbar-brand:hover, .navbar-expand-lg .navbar-header .navbar-brand:focus {
    color: #f4f4f4;
  }
  .navbar-expand-lg .nav>li>a, .navbar-expand-lg .nav>li>a:focus {
    color: $dark-blue;
    padding: 20px;
    letter-spacing: 1.1px;
  }
  .navbar-expand-lg .nav>li>a:hover, .navbar-expand-lg .nav>li>a:focus:hover {
    color: $dark-blue;

  }
  .navbar-expand-lg.affix .navbar-header .navbar-brand {
    font-size: 15px;
    color: #9c27b0;
    padding: 20px;
    letter-spacing: 1px;
  }

}

header {
  position: relative;
  min-height: auto;
  text-align: center;
  color: black;
  width: 100%;
  background-image: url('landing-page-background.jpg');
  background-position: center;
  background-size: cover;
}

header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px;
  text-align: center;
  z-index: 2;
}

header .header-content .inner h1 {
  margin-top: 0;
  margin-bottom: 0;
}

header .header-content .inner p {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}


.logo-md {
  width: 15vw;
}

.logo-sm{
  width: 60px;
  margin-bottom: -10px;
}

@media(min-width:768px) {
  .icon-lg {
    font-size: 40px;
  }
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    transform: translateY(-50%);
  }
  header .header-content .inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
  }
  header .header-content .inner h1 {
    font-size: 70px;
  }
  header .header-content .inner p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
  }
  section {
    min-height: 600px;
    padding: 100px 0;
  }
}

.form-control {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  color: #222;
  background-color: #ccc;
  box-shadow: none;
}

textarea {
  resize: none;
}

.margin-top-0 {
  margin-top: 0;
}

.feature {
  margin: 50px auto 0;
  max-width: 400px;
}



@media(min-width:992px) {
  .feature {
    margin: 20px auto 0;
  }
}

.feature p {
  margin-bottom: 0;
}

.no-gutter>[class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  border-color: #fff;
  color: #222;
  background-color: #fff;
  transition: all .35s;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
  border-color: #ededed;
  color: #222;
  background-color: #f2f2f2;
  opacity: 0.7;
}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default .badge {
  color: #fff;
  background-color: #222;
}

.btn.btn-primary {
  background-color: black;
  border: 1px solid #f0f0f0;
  border-color: #f0f0f0;
  transition: all .35s;
}

.btn.btn-primary:hover {
  opacity: 0.7;
}

.btn {
  border: 0;
  border-radius: 200px;
  font-family: $secondary-font
}

.btn-xl {
  padding: 15px 30px;
  font-size: 20px;
}
