// Place all the styles related to the Pre_dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.your-pack {
  color: #253c78;
}

.stats-top {
  background-color: #253c78;
  color: white;
}

.stats-bottom {
  width: 200px;
  background-color: white;
}

.dog-image {
  width: 100%;
  max-width: 300px;
}

.image-caption {
  font-size: 13px;
}

.w3-image {
  webkit-box-shadow: 5px 6px 23px -4px rgba(0,0,0,0.92);
  moz-box-shadow: 5px 6px 23px -4px rgba(0,0,0,0.92);
  box-shadow: 5px 6px 23px -4px rgba(0,0,0,0.92);
}

.w3-btn {
  box-shadow: 5px 6px 23px -4px rgba(0,0,0,0.92);
}

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
