// Place all the styles related to the Pre_dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* This is the beginning of pre-dashboard CSS */

.your-pack {
  color: #253c78;
}

.stats-top {
  background-color: #253c78;
  color: white;
  height: 50px;
}

.stats-bottom {
  height: 60px;
  width: 200px;
  background-color: white;
}

.dog-image {
  height: 100px;
}

/* This is the end of pre-dashboard CSS */
