<div class="container-fluid bg-form py-5">
  <div class="row">

    <div class="col-6 text-center">
       <%= image_tag image_path('logo.jpg'), :class => 'logo-md' %>
       <div class="m-3 mb-5">
        Here are the details regarding your walk.
        <br>
        <br>
        If you need to a cancel the walk, please be sure to do so via your dashboard.
       </div>
    </div>

    <div class="col-6 form">
     <fieldset>
        <h2 class="fs-title">Walk Confirmation</h2>
        <h3 class="fs-subtitle">By Clicking Confirm You Agree to Walk the following Dog</h2>

          <div class="text-wrapper">
            <span class="text-muted"> Human Name: </span> <%=@user.last_name%>, <%=user.first_namne%>
          </div>
          <div class="text-wrapper">
            <span class="text-muted">Dog Name: </span> Buzzie
          </div>
          <div class="text-wrapper">
            <span class="text-muted">Date & Time: </span> Sunday, June 20th 1:00PM
          </div>
          <div class="text-wrapper">
            <span class="text-muted">Human Address: </span> 123 John Street New York, NY
          </div>

        <div>
          <input type="submit" value="Confirm" class="action-button" data-disable-with="Confirm">
        </div>


     </fieldset>

    </div>
  </div>
</div>
